@charset "utf-8";
/* CSS Document */

*, html{
	margin:0;
	padding:0;
}

body{
	margin:0;
	padding:0;
	margin-left:5em;
	margin-right:5em;
	margin-top:1em;
	background-color:#C9C9C9;
	background-attachment:fixed;
	font-family:Verdana, Geneva, sans-serif;
	font-size:0.9em;
	color:black;
}


/*HEADER*/
#header{
	position:relative;
	top:0;
	background-color: #9b0014;
	width:100%;
	height:auto;
	margin:0em;
	margin-right:0em;
	margin-left:0em;
	padding:0em;
	padding-bottom:1.3em;
}

#header .logoprint{
	display:none;
}

#header .logo{
	position:relative;
	float:left;
	height:7em;
	width:15em;
	padding:1em;
	padding-right:2em;
}

#title {	
	color:white;
	padding-top:1.5em;
	padding-bottom:1.5em;
	text-align: center;
}

.titlepart{
	display:block;
}

#wrapper {
	width:100%;
	background-color:#4D4D4D;
	background-image:url(../images/onlylogo.png);
	background-repeat: no-repeat;
	background-position: 1em 15em;
	
}

#wrapperbody {
	border-color: black;
	border-style: solid;
	border-width: 1px;
}

/*MENU*/

#sidebar{	
	display:block;
	float:left;
	width:15%;
	height:100%;
	margin-left:0.5em;
	margin-right:0em;
	padding-top:2em;
	color:white;
}

#sidebar ul{
	list-style-type:none;
	margin-top: 0.3em;
}

#sidebar li{
	margin-bottom:1.0em;
	padding-left:0.2em;
}

#sidebar li * {
	padding: 0.2em 0em 0.2em 0.3em;
}

#secondMenu > li{
	padding: 0em 0em 0em 2.0em;
}

#secondMenu *:last-child {
	margin-bottom: 0em;
}

#sidebar a{
	color:#FFFFFF;
	display:block;
}

#sidebar a:hover{
	background-color:#666666;
	color:black;
}

#sidebar a:visited{
	color:#F2C9A0 ;
}

#sidebar .help{
	display:none;
}


.linknoactive{
	display: block;
	background:#9b0014;
	font-weight:bold;
	color:white;
	padding:0.3em;
}

/*CONTENUTO*/

#content{
	padding:1.5em;
	padding-top:0.5em;
	background:#fff;
	margin-left:16.5%;
	margin-right:0em;
	min-height:22.9em;
	padding-bottom:5.0em;
}

#content > header {
	text-align: center;
}

#content ol {
	margin-left: 1.5em;
}

#content ul {
	margin-left: 1.5em;
}

#content li {
	margin-left: 1.5em;
}

#content h2, h3, h4 {
	color:#9b0014;
	margin-top:0.5em;
	margin-bottom:0.5em;
}

.infoPeople {
	border:1px solid #4D4D4D;
	border-top:#FFF;
	padding-top:0.5em;
	padding-bottom:0.5em; 
}

.photoDetails {
	display: inline-block;
	width:10%;
	border:1px solid #4D4D4D;
	margin-bottom: 1.0em;
	margin-left: 1.0em;
	vertical-align: middle;
}

.peopleDetails {
	display: inline-block;
	margin-left: 1.0em;
}

.showInfo, .hideInfo {
	text-decoration: underline;
	color: #9B0014;
	cursor: pointer;
}

.hideInfo {
	text-align: center;
	display: block;
}

.allInfosVisible dt {
	color: #FFF;
	background-color: #9B0014;
	font-weight: bold;
	padding: 0.5em;
}

.allInfosVisible dd {
	background-color: rgba(155, 0, 20, 0.3);
}

.allInfosVisible dd img {
	margin-top: 0.5em;	
}

#content a {
	color:blue;
	text-decoration:underline;
}

#content a:visited {
	color: #9b0014;
}

#activeNews article {
	margin-bottom: 2.0em;	
} 

#activeNews article header h1, #expiredNews article header h1 {
	font-size: 2.0em;
	color: #9B0014;
	margin-top: 0.5em;
	font-weight: normal;
}

#activeNews article header h2, #expiredNews article header h2 {
	color: #000;
	margin-top: 0.3em;
	border-bottom: 1px solid #000;
	padding-bottom: 0.3em;
	font-style: italic;
	font-size: 1.0em;
	font-weight: normal;
}

/*PERCORSO*/

#path{
	background-color:#333333;
	background-image:url(../images/menu-bg.gif);
	background-repeat:repeat-x;
	height:1.9em;
	color:white;
	margin-left:0em;
	padding-top:0.5em;
	padding-left:0.5em;
}

/*FOOTER*/

#footer{
	clear:both;
	background-color:#333333;
	width:100%;
	height:auto;
	padding-top:1em;
	padding-bottom:0.5em;
	color:white;
	text-align:center;
	font-size:80%;
	border-top-style: solid;
	border-top-color: #9b0014;
	border-top-width: 2px;
}

#footer a{
	color:#FFFFFF;
}

#footer a:hover{
	text-decoration:none;
}

#footer a:visited{
	color:#FFFFFF;
}

.hide {
	display: none;
}
